<!DOCTYPE html>
<html lang="eng">
  <meta charset="UTF-8"
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Ariana Viale</title>
</head>

<body>

  <div class="topnav" id="myTopnav">
    <a href="index.html">Home</a>
    <a href="about.html">About Me</a>
    <a href="resume.html">Resume</a>
    <a href="portfolio.html">Projects</a>
    <a href="contact.html">Contact Me</a>
  </div>

<div id="header">
  <img class="img-circle" src="https://c1.staticflickr.com/3/2818/33726056922_340b7a7280_k.jpg" width="420" height="415" alt="Profile Pic" align="left">
  <h1>Ariana Viale</h1>
  <h2>Portfolio</h2>
  <p> My name is Ariana. I'm a 26-year old advertising graduate from the University of Florida. I graduated in 2014.
  Since then, I have held different positions in various areas which include: Sales, Marketing, and Project Managing. </p>
  <p> More than anything, I'm interested in the user experience with web-sites and apps and I am currently learning how to become a full-stack web-developer at Wyncode.</p>
  <p> I hope to focus to gain skills in both front-end and back-end and eventually become a UX/UI developer.</p>
</div>

<!-- <div class="links">
  <ul>
  <li>
  <a href= "https://google.com">About Me</a>
  </ul>
  </li>
</div> -->

<div class="icons">
<a href="https://github.com/arianakv"><img src="/Github.png" width="54" height="54"></a>
<a href="https://plus.google.com/u/0/+ArianaViale"><img src="/Users/arianak/Desktop/social media icons/Google+.png" width="54" height="54"></a>
<a href="https://www.linkedin.com/in/ariana-viale-29821129/"><img src="/Users/arianak/Desktop/social media icons/Linkedin.png" width="54" height="54"></a>
<a href="https://www.instagram.com/arianakv/"><img src="/Users/arianak/Desktop/social media icons/Instagram.png" width="54" height="54"></a>
</div>
</div>

</body>
